@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .mesh-gradient-1 {
    background: #02abd1;
    background-image: radial-gradient(at 66% 95%, hsl(231, 88%, 57%) 0px, transparent 50%),
      radial-gradient(at 99% 94%, hsl(64, 83%, 30%) 0px, transparent 50%),
      radial-gradient(at 25% 61%, hsl(198, 70%, 67%) 0px, transparent 50%),
      radial-gradient(at 100% 32%, hsl(285, 64%, 67%) 0px, transparent 50%),
      radial-gradient(at 68% 22%, hsl(135, 97%, 85%) 0px, transparent 50%);
  }

  .mesh-gradient-2 {
    background: #47acaf;
    background-image: radial-gradient(at 95% 16%, hsl(195, 24%, 52%) 0px, transparent 50%),
      radial-gradient(at 78% 68%, hsl(159, 62%, 65%) 0px, transparent 50%),
      radial-gradient(at 33% 54%, hsl(247, 68%, 96%) 0px, transparent 50%),
      radial-gradient(at 75% 6%, hsl(145, 26%, 54%) 0px, transparent 50%),
      radial-gradient(at 59% 3%, hsl(135, 41%, 54%) 0px, transparent 50%);
  }

  .mesh-gradient-3 {
    background: #21e1f7;
    background-image: radial-gradient(at 19% 80%, hsl(119, 81%, 77%) 0px, transparent 50%),
      radial-gradient(at 18% 49%, hsl(306, 42%, 81%) 0px, transparent 50%),
      radial-gradient(at 34% 22%, hsl(71, 92%, 39%) 0px, transparent 50%),
      radial-gradient(at 32% 7%, hsl(20, 82%, 66%) 0px, transparent 50%),
      radial-gradient(at 89% 35%, hsl(115, 61%, 57%) 0px, transparent 50%);
  }

  .mesh-gradient-4 {
    background: #947db5;
    background-image: radial-gradient(at 89% 68%, hsl(207, 95%, 33%) 0px, transparent 50%),
      radial-gradient(at 97% 67%, hsl(134, 99%, 50%) 0px, transparent 50%),
      radial-gradient(at 73% 35%, hsl(222, 45%, 54%) 0px, transparent 50%),
      radial-gradient(at 16% 41%, hsl(264, 69%, 52%) 0px, transparent 50%),
      radial-gradient(at 40% 32%, hsl(242, 87%, 18%) 0px, transparent 50%);
  }
}
